In [23]:
import pandas as pd
import numpy as np

In [24]:
# Load the Data
df = pd.read_csv('/content/WHO-COVID-19-global-daily-data.csv')

In [25]:
# Check for Missing Values
print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())

  Date_reported Country_code         Country WHO_region  New_cases  \
0    2020-01-04           AF     Afghanistan        EMR        NaN
1    2020-01-04           AL         Albania        EUR        NaN
2    2020-01-04           DZ         Algeria        AFR        NaN
3    2020-01-04           AS  American Samoa        WPR        0.0
4    2020-01-04           AD         Andorra        EUR        NaN

   Cumulative_cases  New_deaths  Cumulative_deaths
0                 0         NaN                  0
1                 0         NaN                  0
2                 0         NaN                  0
3                 0         0.0                  0
4                 0         NaN                  0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450720 entries, 0 to 450719
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      450720 non-null  object
 1   Country_code       448842 non-null  object
 2   Country            450720 non-null  object
 3   WHO_region         450720 non-null  object
 4   New_cases          207873 non-null  float64
 5   Cumulative_cases   450720 non-null  int64
 6   New_deaths         152814 non-null  float64
 7   Cumulative_deaths  450720 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 27.5+ MB
None
          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.078730e+05      4.507200e+05  152814.000000       4.507200e+05
mean   3.740357e+03      1.941942e+06      46.401351       2.099982e+04
std    4.884882e+04      8.235867e+06     243.208622       8.480176e+04
min   -6.507900e+04      0.000000e+00   -3520.000000       0.000000e+00
25%    3.000000e+00      5.635000e+03       0.000000       3.500000e+01
50%    6.200000e+01      5.228700e+04       2.000000       6.700000e+02
75%    6.910000e+02      6.155348e+05      15.000000       7.574000e+03
max    6.966046e+06      1.034368e+08   44047.000000       1.218325e+06
Date_reported             0
Country_code           1878
Country                   0
WHO_region                0
New_cases            242847
Cumulative_cases          0
New_deaths           297906
Cumulative_deaths         0
dtype: int64

In [6]:
# Check for Missing Values
print(df.isnull().sum())

Date_reported        0
Country_code         0
Country              0
WHO_region           0
New_cases            0
Cumulative_cases     0
New_deaths           0
Cumulative_deaths    0
dtype: int64

In [7]:
df.dropna(axis=0, inplace=True)  # Drop rows

In [28]:
# Remove Duplicates
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

0

In [29]:
# Standardize categorical values
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['date_reported', 'country_code', 'country', 'who_region', 'new_cases',
       'cumulative_cases', 'new_deaths', 'cumulative_deaths'],
      dtype='object')

In [30]:
# Handle Inconsistencies
df['date_reported'] = pd.to_datetime(df['date_reported'], errors='coerce')

In [31]:
df['country'] = df['country'].str.strip().str.title()

In [32]:
# Fix Outliers (if needed)
Q1 = df['new_cases'].quantile(0.25)
Q3 = df['new_cases'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['new_cases'] >= Q1 - 1.5 * IQR) & (df['new_cases'] <= Q3 + 1.5 * IQR)]

In [33]:
# Save Cleaned Data
df.to_csv('/content/cleaned_data.csv', index=False)